<div class="flex justify-center">
  <div class="max-w-3xl">
    <% @blog_posts.each do |blog_post| %>
      <div class="mt-6 lg:mt-12 border-t-2 border-black ">
        <%# you can pass the active record as the path %>
        <% if blog_post.draft? %>
          <p class="published-label bg-yellow-600 text-white">draft</p>
        <% elsif blog_post.scheduled? %>
          <p class="published-label bg-pink-600 text-white">scheduled</p>
        <% end %>
        <div class="inline">
          <%= blog_post.format_date %>
        </div>
        <%= link_to blog_post.title, blog_post, class: "font-bold no-underline text-4xl hover:underline block pt-2" %>

        <div class="h-24 overflow-hidden mt-6"><%= blog_post.content %></div>

        <%= link_to "READ FULL POST...", blog_post, class: "no-underline italic inline-block mt-2 hover:bg-pink-100" %>
      </div>
    <% end %>
  </div>
</div>

