<% @blog_posts.each do |blog_post| %>
  <div>
    <%# you can pass the active record as the path %>
    <h2><%= link_to blog_post.title, blog_post, class: "no-underline text-4xl" %></h2>
    <p><%= blog_post.body %></p>
  </div>
<% end %>
