<div class="flex lg:justify-end lg:px-4">
  <div class="bg-pink-200 px-6 mb-1 font-bold hover:bg-pink-600">
    <%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %>
  </div>
</div>

<div class="flex flex-col gap-4 lg:flex-row">
  <h1 class="basis-1/2 lg:text-right lg:mt-6 leading-snug font-bold text-4xl lg:text-[4.6vw]"><%= @blog_post.title %></h1>
  <div class="p-4 basis-1/2"><%= @blog_post.content %></div>
</div>