<footer class="mt-24 mb-4">
  <ul class="flex gap-4">
    <% if !user_signed_in? %>
      <li class="bg-pink-100 px-2 hover:underline hover:bg-pink-600"><%= link_to "ADMIN LOGIN", new_user_session_path %></li>
    <% end %>
      <li>
      <p class="">&#169; Copyright Megan Ratto 2023</p> 
      </li>
  </ul>
</footer>